
<div style="background-color: white">
  <H1 style="color: black; text-align: center">Add student</H1>
  <div class="rounded" style="background-color: white; margin: 20px; padding: 20px">
    <form novalidate [formGroup]="myForm">


      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" id="name"
               placeholder="Enter Name"
               formControlName="name">
        <div *ngIf="myForm.controls.name.valid&&myForm.controls.name.dirty" style="color: green">
          Success!
        </div>
      </div>


      <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" id="age"
               placeholder="Enter Your Age"
               formControlName="age">
        <div *ngIf="myForm.controls.age.valid&&myForm.controls.age.dirty" style="color: green">
          Success!
        </div>
      </div>

      <div class="form-group">
        <label>GPA</label>
        <input type="text" class="form-control" id="gpa"
               placeholder="Ex 5.00 "
               formControlName="gpa">
        <div *ngIf="myForm.controls.gpa.invalid&&myForm.controls.gpa.dirty" style="color: red">
          GPA must be out of 5.00
        </div>

        <div *ngIf="myForm.controls.gpa.valid&&myForm.controls.gpa.dirty" style="color: green">
          Success!
        </div>
      </div>

      <button type="submit" class="btn btn-primary" style="margin-left: 40%; width: 20%"
              (click)="onSubmit()"
              [disabled]="!myForm.valid">Submit</button>
    </form>
  </div>
</div>
